## Python Regular expressions

In [1]:
#Regular Exp are used to match string patterns.
#'\n' - denotes a new line --- and its a one character an not two characters
#'\t' - denotes a tab
# r'\n' - it means raw string with two characters 'n' and '\' as opposed to single one character. so its getting rid of 
# python special characters

In [2]:
import re  

re.search('n','\n') #first is pattern and 2nd is string.It returns none object if its not found
print(bool(re.search('n','\n')))  #use boolean to get output in True or False

#its not able to find anything as n is a normal char and \n is a special character. hence, it returns false

False

In [3]:
re.search('n','\\n') 
#its able to find anything as n is a normal char and \\n is also a normal character

In [4]:
re.search('n','\n\n\n\n\n\n')  # it returns none object as \n is a special char

#its not the best way if we have too many \n so what we will do is to convert all \n into raw characters using r

In [5]:
re.search('n',r'\n\n\n\n\n\n')  #converting into raw char

#here r get rid of python \n special meaning

In [6]:
re.search('\n','\n\n\n\n\n\n')

In [7]:
#regular exp also has its own special characters as well
#regex with '\n' and r'\n' both look for a newline

re.search('\n','\n\n\n\n\n\n\n\n\n')

In [8]:
re.search(r'\n','\n\n\n\n\n\n\n\n\n\n')
#this works as well as r'\n' also looks for a new line as well.

In [9]:
re.search(r'\n',r'\n\n\n\n\n\n\n') 

#doesnot work becoz string doesnt use a new line and r'\n' looks for a new line. So a raw string with a new line is still a new line
# r\n pattern looks for a new line.

In [10]:
re.search(r'\n', r'\n')  #return none object

so when applying a raw string (r) to a regular expression it doesnot have much effect. but when dealing with string it get 
rid of pyhon special characters

#### Search and Match

In [11]:
#re common methods - match and search
#re.search(pattern, string, flags)  #-----searches anywhere in the string
#re.match(pattern, string, flags)   #-----searches only begining of the string

In [12]:
re.search('c','abcdefghc') #search first c in string.

In [13]:
bool(re.search('c','abcdefgh')) #use boolean to get output in True or False

True

In [14]:
re.match('c','abcdefgh') # match apply the pattern at the start of the string. Here in this case it returns none object

#it gives a null value back

In [15]:
re.match('a','abcdefgh') # here a at the starts of the string. Hence, returning the object

In [16]:
bool(re.match('a','abcdefgh'))

True

In [17]:
bool(re.match('c','abcdefgh'))

False

In [18]:
re.search('c','abcdefghcgc') #re.search searches for the first instance only and not for more inctance

In [19]:
print(re.search('c','ab\ncdefgh')) #re.search works with multiline as well. it locate c in new line too

print('ab\ncdefgh')

<re.Match object; span=(3, 4), match='c'>
ab
cdefgh

In [20]:
bool(re.match('c','ab\ncdefgh')) #rematch doesnot work with multiline as c is new char in new line

False

In [21]:
re.match('a','abcdefgh')

In [22]:
re.match('a','abcdefgh').group() #to print the match of the re output we use group

'a'

In [23]:
re.match('a','abcdefgh').span() #to print span of the output

(0, 1)

In [24]:
re.search('b','Life is beautiful').group() #it returns the match of the output

'b'

In [25]:
re.search('b........','Life is beautiful') #every dot count as a single charachter

In [26]:
re.search('b........','Life is beautiful').group() #it returns the match of the output i.e Beautiful

'beautiful'

In [27]:
re.search('b.+','Life is beautiful and we are blessed') #it will pull out everything after B based on wild card we are using

#.+ act as wildcard

In [28]:
re.search('b.+','Life is beautiful and we are blessed').group() #if we have to fetch the match of the output

'beautiful and we are blessed'

In [29]:
#to pull out the starting index 

re.search('b','Life is beautiful and we are blessed').start() #it gives the index of first b searches in the string

8

In [30]:
#to pull out the end index

re.search('b','Life is beautiful and we are blessed').end() #it gives the last index of search

9

##### Literal matching and  multiple search

In [31]:
re.search('na','abcdefnc abcd') #it will literally match the na in the string. 

#it is returning none as na not found in the string

In [32]:
re.search('n|a|b','abcdefnc abcd') #it searches for first instance only so a.  | or [ ] are same. 

#We dont use | because we have to put multiple or

In [33]:
re.search('l|L...|n|a','Life is beautiful and we are blessed') #at first L found in the string

In [34]:
re.search('l|L...|n|a','Life is beautiful and we are blessed').group()

'Life'

In [35]:
re.search('n|b','xyz abcd') #it works with next line also

In [36]:
re.search('l|L.+|n|a','Life is beautiful and we are blessed') #it also works with special charachter

##### Findall

In [37]:
#findall -----it will pullout all the instances as a list

re.findall('d|a','abcdefnc abcd') # it will return the list of all pattern found in the string

['a', 'd', 'a', 'd']

In [38]:
re.findall('[da]','abcdefnc abcd') #as mentioned above | and [] both works for or

['a', 'd', 'a', 'd']

In [39]:
re.findall('abcd','abcdefgh abcd abc abc2d abcdd')

['abcd', 'abcd', 'abcd']

#### Character Search

In [40]:
#\w matches alphabet character and number alphanumeric and underscore---it includes [a-z,A-Z,0-9,_]

re.search(r'\w\w\w\w','abc 123ijk pqrs')  #it will return continous four supporting charachter. hence, it will return "123i"

In [41]:
re.search(r'\w\w\w\w','a_b_c_d_e')

In [42]:
re.search(r'\w\w\w\w',';/.,abcd')

In [43]:
re.search(r'\w\w\w\w','ab;/.,')  #returning none object
#we are getting no results here

In [44]:
#\W represents opposite of \w i.e. not \w

re.search(r'\W\W\W',';/.,abcd')

In [45]:
re.search(r'\W\W\W\w',';/.,abcd')  #mix of \w and \W

In [46]:
re.search(r'\w\w\W','a_ .123acb')

#### Quantifiers

##### quantifiers 
1.   '+' = 1 or more  #+ is also called as greedy quantifier so it tries to pull out more
2.   '?' = 0 or 1 
3.   '*' = 0 or more
4.   '{n,m}' = n to m repetation {,3},{3,}

In [47]:
re.search(r'\w+','abcdefgh abcd')  #all charchaters from the begining in string until the next space found

In [48]:
re.search(r'\w+','abcdefgh abcd').group()

'abcdefgh'

In [49]:
a=re.findall(r'\w+','abcdefgh abcd') #it will return all the wordsfrom string which supports by \w
a

['abcdefgh', 'abcd']

In [50]:
re.findall(r'\w+','abcdefgh abcd good123 90 a2z _human-being')

['abcdefgh', 'abcd', 'good123', '90', 'a2z', '_human', 'being']

In [51]:
re.search(r'\w+\W\w+','abcdefgh abcd').group()

'abcdefgh abcd'

In [52]:
re.search(r'\w+\W+\w+','abcdefgh,./;[];abcd').group() #combination of \w and \w+

'abcdefgh,./;[];abcd'

In [53]:
re.search(r'\w+\W?\w+','abcde fghabcd').group() #? rep either 0 or 1

'abcde fghabcd'

In [54]:
re.search(r'\w+\w+','abcde fghabcd').group() #as i removewd \W it only returns the first word

'abcde'

In [55]:
#pulling out specific amount

re.search(r'\w{0,3}','aaaaaaaaaa')  #0 to 3 repeatation

In [56]:
#pulling out specific amount

re.findall(r'\w{0,3}','aaa aaa aaa abb aaa gt')

['aaa', '', 'aaa', '', 'aaa', '', 'abb', '', 'aaa', '', 'gt', '']

In [57]:
re.search(r'\w{3,}','aaaaaaaaaa') # it denotes min 3 to infinite. 

#if i will pass only 2 charachter string it will return none object

In [58]:
re.search(r'\w{1,4}','aaaaaaaaaa') #minimum 1 to 4

In [59]:
re.findall(r'\w{2,4}','aaaaaaaaa') # find minimum 2 to 4

['aaaa', 'aaaa']

In [60]:
re.search(r'\w{1,4}','aa  aaaaaaaa') #after space it will not search pattern into string

In [61]:
re.findall(r'\w{1,4}','aa  aaaaaaaa')

['aa', 'aaaa', 'aaaa']

In [62]:
re.search(r'\w{1,6}\W{0,4}\w+','abcdef   abcdef')

In [63]:
re.search(r'\w{1,6}\W{4}\w+','abcdef    abcdef').group()

'abcdef    abcdef'

#### other type of characters sets

In [64]:
##  \d - matches digits[0,9]
##  \D - matches digits ~[0,9] i.e. any non digit character ~\d opposite of \d

In [65]:
string = '23abcdef11++'
re.search(r'\d+',string).group()

'23'

In [66]:
re.findall(r'\d+',string) #find all numeric charachters in the string

['23', '11']

In [67]:
string = '23abcdef++'
re.search(r'\D+',string).group() #find all charachters other than numeric

'abcdef++'

In [68]:
## \s rep any white space character i.e. newlines, tabs, spaces etc
## \S matches any non whitespace characters, opposit of \s
# whitespace characters are basically newlines or tabs or .... so \n,\t are all whitespace characters
# \S matches aything that are not whitespace

In [69]:
string = 'abcd1234++--'
re.search(r'\S',string)

In [70]:
string = 'abcd1234++--'
re.search(r'\S\S',string)

In [71]:
string = 'abcd1234++--'
re.search(r'\S+',string)

In [72]:
string = '''Indians. are the 'nationals' or citizens of India the second most populous nation in the world containing  
of the world's population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian 
nationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. 
Due to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, 
the Caribbean, Oceania, and Africa.[4]
The demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, 
nationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as
well'''

In [73]:
string  #we can see whitespaces in string. so \n,\t are all whitespace characters

'Indians. are the \'nationals\' or citizens of India the second most populous nation in the world containing  \nof the world\'s population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian \nnationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. \nDue to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, \nthe Caribbean, Oceania, and Africa.[4]\nThe demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, \nnationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as\nwell'

In [74]:
re.search(r'\S+',string).group() #\S matches any non white space charachter. 

#After India. there is a space, and space is white space charachter

'Indians.'

In [75]:
re.findall(r'\S+',string) #it will fin all the non white space and will return a list

['Indians.',
 'are',
 'the',
 "'nationals'",
 'or',
 'citizens',
 'of',
 'India',
 'the',
 'second',
 'most',
 'populous',
 'nation',
 'in',
 'the',
 'world',
 'containing',
 'of',
 'the',
 "world's",
 'population.',
 '"Indian"',
 'refers',
 'to',
 'nationality,',
 'rather',
 'than',
 'a',
 'particular',
 'ethnicity',
 'or',
 'language;',
 'the',
 'Indian',
 'nationality',
 'consists',
 'of',
 'dozens',
 'of',
 'regional',
 'ethno-linguistic',
 'groups,',
 'reflecting',
 'the',
 'rich',
 'and',
 'complex',
 'history',
 'of',
 'the',
 'country.',
 'Due',
 'to',
 'emigration,',
 'the',
 'Indian',
 'diaspora',
 'is',
 'present',
 'throughout',
 'the',
 'world,',
 'notably',
 'in',
 'other',
 'parts',
 'of',
 'Asia,',
 'North',
 'America,',
 'the',
 'Caribbean,',
 'Oceania,',
 'and',
 'Africa.[4]',
 'The',
 'demonymn',
 'Indian',
 'today',
 'applies',
 'to',
 'nationals',
 'of',
 'the',
 'Republic',
 'of',
 'India,',
 'although',
 'before',
 'the',
 'partition',
 'of',
 'India',
 'in',
 '1947,',
 'nationals',
 'residing',
 'in',
 'the',
 'entirety',
 'of',
 'British',
 'India',
 '(including',
 'what',
 'is',
 'now',
 'Pakistan',
 'and',
 'Bangladesh)',
 'were',
 'known',
 'as',
 'Indians',
 'as',
 'well']

In [76]:
' '.join(re.findall(r'\S+',string)) #join method will take input as a list. join by a single space

#by doing this, it has converted the string into a single line.

'Indians. are the \'nationals\' or citizens of India the second most populous nation in the world containing of the world\'s population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian nationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. Due to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, the Caribbean, Oceania, and Africa.[4] The demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, nationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as well'

In [77]:
# .(dot) rep any character except new line => .+ will print the first line

In [78]:
print(re.search(r'.',string).group()) #.(dot) rep any character except new line. it will return first single charachter

print(re.search(r'.+',string).group()) #.+ will print the first line of the string

I
Indians. are the 'nationals' or citizens of India the second most populous nation in the world containing

In [79]:
re.search(r'.+',string, flags=re.DOTALL).group() #it will return full string not only the first line

'Indians. are the \'nationals\' or citizens of India the second most populous nation in the world containing  \nof the world\'s population. "Indian" refers to nationality, rather than a particular ethnicity or language; the Indian \nnationality consists of dozens of regional ethno-linguistic groups, reflecting the rich and complex history of the country. \nDue to emigration, the Indian diaspora is present throughout the world, notably in other parts of Asia, North America, \nthe Caribbean, Oceania, and Africa.[4]\nThe demonymn Indian today applies to nationals of the Republic of India, although before the partition of India in 1947, \nnationals residing in the entirety of British India (including what is now Pakistan and Bangladesh) were known as Indians as\nwell'

#### Create your own character sets

In [80]:
## [A-Z] '-' is a metacharacter when used in [] (custom character set)

In [81]:
string = 'HELLO There, How, Are, You'

In [82]:
re.findall(r'[A-Z]+', string) #[] represent "or" here. It means either A to Z anything and if we add + then it will give me everything with A to Z

['HELLO', 'T', 'H', 'A', 'Y']

In [83]:
re.findall(r'\w+', string)

['HELLO', 'There', 'How', 'Are', 'You']

In [84]:
re.findall(r'[A-Za-z]', string)

['H',
 'E',
 'L',
 'L',
 'O',
 'T',
 'h',
 'e',
 'r',
 'e',
 'H',
 'o',
 'w',
 'A',
 'r',
 'e',
 'Y',
 'o',
 'u']

In [85]:
re.findall(r'[A-Za-z]+', 'HELLO There, How, Are, You , 4567, they6')

['HELLO', 'There', 'How', 'Are', 'You', 'they']

In [86]:
re.findall(r'[A-Z,]',string) #here we will search for any A-Z or a comma(,)

['H', 'E', 'L', 'L', 'O', 'T', ',', 'H', ',', 'A', ',', 'Y']

In [87]:
re.findall(r'[A-Z,]+','HELLO, There, How, Are, You , 4567, they6')

['HELLO,', 'T', ',', 'H', ',', 'A', ',', 'Y', ',', ',']

In [88]:
string = 'Hello, There, How, Are, You.....10'
re.findall(r'[A-Z,.0-9]+',string)

['H', ',', 'T', ',', 'H', ',', 'A', ',', 'Y', '.....10']

In [89]:
re.findall(r'[A-Za-z,.\s]+','Hello, There, How, Are, You.....10 \n')  #\s represent any whitespace

['Hello, There, How, Are, You.....', ' \n']

In [90]:
re.findall(r'[A-Za-z,.\s]','Hello, There, How, Are, You.....10 \n')

['H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'T',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'H',
 'o',
 'w',
 ',',
 ' ',
 'A',
 'r',
 'e',
 ',',
 ' ',
 'Y',
 'o',
 'u',
 '.',
 '.',
 '.',
 '.',
 '.',
 ' ',
 '\n']


##### Quantifiers with custom sets --- + ? *

In [91]:
string = 'Hello, There, How, Are, You'

In [92]:
re.search(r'[A-Za-z]+,', string)  #A to Z or a to z with + and then ,

In [93]:
re.findall(r'[A-Z]|\w+', 'Hello, There, How, Are, You 23 _') # A to Z or \w i.e any alphabets/ alphanumeric/space/and underscore

['H', 'ello', 'T', 'here', 'H', 'ow', 'A', 're', 'Y', 'ou', '23', '_']

In [94]:
re.findall(r'[A-Z\w]+', 'Hello, There, How, Are, You 23 _')

['Hello', 'There', 'How', 'Are', 'You', '23', '_']

In [95]:
re.search(r'[A-Z]+', 'HELLO There, How, Are, You') # search only pull out first instance

In [96]:
re.findall(r'[A-Z]+','HELLO There, How, Are, You') #Findall instance

['HELLO', 'T', 'H', 'A', 'Y']

In [97]:
re.findall(r'H|E|L+|O','HELLO There, How, Are, You')

['H', 'E', 'LL', 'O', 'H']

In [98]:
re.findall(r'[A-Z]{1,}','HELLO There, How, Are, You') #print to to all char

['HELLO', 'T', 'H', 'A', 'Y']

In [99]:
re.findall(r'[A-Z]{2,}','HELLO There, How, Are, You')

['HELLO']

In [100]:
re.search(r'[A-Za-z\s,]+','HELLO There, How, Are, You').group() # either A to Z, a to z, any white space char, (,) with +

'HELLO There, How, Are, You'

In [101]:
re.findall(r'[A-Z]?[a-z\s,]+','HELLO There, How, Are, you') # ? includes either 0 or 1

# 0 or 1 times A to Z then either a to z any whitespace or (,) with +

['O ', 'There, ', 'How, ', 'Are, you']

In [102]:
re.findall(r'[A-Z]?[a-z\s,A-Z]+','HELLO There, How, Are, you......')

['HELLO There, How, Are, you']

In [103]:
re.search(r'[^A-Za-z\s,]+','HELLO There, How, Are, you......').group() # ^ it means not equal to. 

#Here not include either A to Z or a to z or any white space or (,)

'......'

In [104]:
re.findall(r'[^A-Z]+','HELLO There, How, Are, you......') #not include the capital A to Z

[' ', 'here, ', 'ow, ', 're, you......']

In [105]:
re.findall(r'[^A-Z]','HELLO There, How, Are, you......' )

[' ',
 'h',
 'e',
 'r',
 'e',
 ',',
 ' ',
 'o',
 'w',
 ',',
 ' ',
 'r',
 'e',
 ',',
 ' ',
 'y',
 'o',
 'u',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.']

In [106]:
re.search(r'[^A-Z]+','HELLO There, How, Are, you......') #It return first space


#### Introduction to Groups == Groups allow us to pull out sections of a match and we can store those sections

In [107]:
string = 'John has 6 cats but I think my friend Susan has 3 dogs and Mike has 8 fishes'

In [108]:
re.findall(r'[A-Za-z]+\shas\s\d\s[a-z]+', string) # \s any white space \d any digit 0-9

['John has 6 cats', 'Susan has 3 dogs', 'Mike has 8 fishes']

In [109]:
#( ) == the use of brackets is called as group\
#( ) - metacharacter

In [110]:
re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)',string) # combination of many patterns.

#the pattern inside the () is only pull out

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [111]:
re.findall(r'([A-Z][a-z]+)\s[a-z]+\s(\d)\s([a-z]+)', string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [112]:
re.findall(r'[A-Za-z]+ \w+ \d+ \w+',string)

['John has 6 cats', 'Susan has 3 dogs', 'Mike has 8 fishes']

In [113]:
re.findall(r'([A-Za-z]+) \w+ \d+ \w+',string) #pull out allthe names. There i have used () for the name pattern

['John', 'Susan', 'Mike']

In [114]:
re.findall(r'[A-Za-z]+ \w+ \d+ (\w+)',string) #pull out types of animals

['cats', 'dogs', 'fishes']

In [115]:
re.findall(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [116]:
info = re.findall(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)
info

[('John', '6', 'cats'), ('Susan', '3', 'dogs'), ('Mike', '8', 'fishes')]

In [117]:
x=zip(*info) #organise the data within their categories

#zip method returns a tuple where the i-th element comes from the i-th iterable argument


l=[i for i in x]
l

[('John', 'Susan', 'Mike'), ('6', '3', '8'), ('cats', 'dogs', 'fishes')]

In [118]:
match = re.search(r'([A-Za-z]+) \w+ (\d+) (\w+)',string)
match.group(0) # group(0) is the entire string

'John has 6 cats'

In [119]:
print(match.group(1)) # group(1) is the first element of string
print(match.group(2)) # group(2) is the first element of string
print(match.group(3)) # group(3) is the first element of string

John
6
cats

In [120]:
match.groups()

('John', '6', 'cats')

In [121]:
match.group(1,3)

('John', 'cats')

In [122]:
match.group(1,3,2,3)

('John', 'cats', '6', 'cats')

In [123]:
match.span()

(0, 15)

In [124]:
match.span(1)

(0, 4)

In [125]:
data = re.findall(r'(([A-Za-z]+) \w+ (\d+) (\w+))',string) #making one more gruop ie larger group
data

[('John has 6 cats', 'John', '6', 'cats'),
 ('Susan has 3 dogs', 'Susan', '3', 'dogs'),
 ('Mike has 8 fishes', 'Mike', '8', 'fishes')]

In [126]:
for i in data:
    print (i[0])

John has 6 cats
Susan has 3 dogs
Mike has 8 fishes

'''re.findall is used to pull out all the instances. re.match and re.search is used to find only first instance. there is 
someting called as iterator'''

#### Naming Group

In [127]:
string = 'New York, New York11369'

In [128]:
match=re.match(r'([A-Za-z\s]+), ([A-Za-z\s]+)(\d+)',string)

In [129]:
print(match.group(0))
print(match.group(1))
print(match.group(2))
print(match.group(3))

New York, New York11369
New York
New York
11369

In [130]:
#we can put name to the group as well. For that use ?p<GroupName> == p means prepend
#compile is used to compile a reg ex pateern in a regex object 
#which can be used for matching and searching any number of times.

pattern = re.compile('(?P<City>[A-Za-z\s]+), (?P<State>[A-Za-z\s]+)(?P<PinCode>\d+)')

In [131]:
match = re.search(pattern, string)
print(match)

<re.Match object; span=(0, 23), match='New York, New York11369'>

In [132]:
match.group('City'), match.group('State'), match.group('PinCode')

('New York', 'New York', '11369')

In [133]:
match.group(1)

'New York'

In [134]:
match.group('City')

'New York'

In [135]:
match.groupdict() # incase we have forgot oue group name

{'City': 'New York', 'State': 'New York', 'PinCode': '11369'}

In [136]:
pattern = re.compile(r'abc')
print(re.findall(pattern, 'abcdabcdabacd'))

matches = pattern.finditer('abcdabcdabacd') #Return an iterator over all non-overlapping matches for the RE pattern in string
for match in matches:
    print(match)

['abc', 'abc']
<re.Match object; span=(0, 3), match='abc'>
<re.Match object; span=(4, 7), match='abc'>

#### SUBstitute

In [137]:
NameAge='''Janice is 22 ...\\\???? and Theon is 33////...,,,;;-
           Gabriel is 44 +++++++++++++-------- and Joey is 21'''

In [138]:
#Return the string obtained by replacing the leftmostnon-overlapping occurrences of the pattern in string by the replacement repl. 

a =re.sub(pattern= r'[^A-Za-z\d]+', repl= ' ', string= NameAge) #if not found A to Z a to z and digit then replace with " "
a

'Janice is 22 and Theon is 33 Gabriel is 44 and Joey is 21'

In [139]:
# we need to find a word in sentence

string = 'we need to inform him with the latest information'

if bool(re.search(r'inform',string)):
    print ('there is inform')

there is inform

In [140]:
allfind = re.findall(r'inform',string)
allfind

['inform', 'inform']

In [141]:
#get the staring index and ending index of a particular string

pattern = re.compile(r'inform')

map = pattern.finditer(string)
for i in map:
    print(i)

<re.Match object; span=(11, 17), match='inform'>
<re.Match object; span=(38, 44), match='inform'>

In [142]:
#or we can do in below way also

iterable=re.finditer(r'inform',string)
for i in iterable:
    print (i)
    print(i.span())

<re.Match object; span=(11, 17), match='inform'>
(11, 17)
<re.Match object; span=(38, 44), match='inform'>
(38, 44)

In [143]:
#match words with a particular pattern

str ='Sat, Hat, Mat, Pat'

allstr = re.findall(r'[SHMP]at', str) #here first letter is either [SHMP]
allstr

['Sat', 'Hat', 'Mat', 'Pat']

In [144]:
#Match series of range of character
someStr = re.findall(r'[H-P]at',str) # H to P
someStr

['Hat', 'Mat', 'Pat']

In [145]:
someStr1 = re.findall(r'[^H-P]at',str) #not H to P
someStr1

['Sat']

In [146]:
#replacing a string

food ='hat, mat, rat, pat'
regex=re.compile(r'rat')
food = re.sub(regex,'cat',food)
food

'hat, mat, cat, pat'

In [147]:
#match a single character
randno='12345'
re.findall(r'\d{2}',randno)

['12', '34']

In [148]:
randstr = '''Keep the blue flag
flying high
Chelsea'''

regex=re.compile('\n')
randstr = re.sub(regex,' ',randstr)
randstr

'Keep the blue flag flying high Chelsea'

In [149]:
num = '123 1234 12345 123456 1234567'
re.findall(r'\d{3,5}',num)

['123', '1234', '12345', '12345', '12345']

In [150]:
email = 'sk@aol.com md@.com @seo.com dc@.com'
re.findall(r'[a-z]+@[a-z]+.[a-z]+', email)

['sk@aol.com']

In [151]:
re.findall(r'[\w._@+-]+@[\w_+-]{2,20}.[a-z]+', email)

['sk@aol.com']

In [152]:
re.sub(r'-',"0","-526")

'0526'